extends layout 

block content 
    h1 Title: #{card.card}
    p Definition: #{card.definition}
    p Status: #{card.status}
    p Collections:
        for topics, index in card.topic
            
            a=` ${card.topic[index].name}`
    p
        a(href=card.url+'/delete') Delete Card