extends layout 

block content 
    .big(class="w-[100%] flex justify-center")
        .cardcontainer(class="rounded border-2 border-black min-w-[350px] max-w-min my-10 p-5 text-center flex flex-col gap-5")
            h1(class="text-3xl ") #{card.card}
            p(class="text-xl ") Definition: #{card.definition}
            p Status: #{card.status}
            p Collections:
                for topics, index in card.topic
                    
                    a=` ${card.topic[index].name}`
    p(class="rounded border-2 border-black bg-[#fb4d3d] p-5 mx-auto flex justify-center w-[200px] max-w-90vw text-xl")
        a(href=card.url+'/delete') Delete Card
    p(class="rounded border-2 border-black bg-[#fb4d3d] p-5  mx-auto flex justify-center w-[200px] max-w-90vw text-xl" style="margin-top:10px;")
        a(href=card.url+'/update') Update Card